
<div class="background">
  
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <div> 
        <h2>
          公司人员分析系统
        </h2>   
      </div>
        <nz-form-item>
          <nz-form-control nzErrorTip="账号要求非空,长度要求5-20位,以字母或数字开头!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="请输入工号" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="密码要求非空,长度要求5-20位,需包含数字,字母,特殊字符三种中的任意两种.">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="请输入密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <!-- <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label> -->
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">忘记密码</a>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">登 录</button>
      </form>
</div> 


  <!--登陆验证-->
  <!-- <form nz-form  class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!" nzValidateStatus="error">
            <input nz-input formControlName="username" placeholder="Username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your password!" nzValidateStatus="error">
            <input nz-input formControlName="password" type="password" placeholder="Password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or
        <a>register now!</a>

        
  </form> -->



